body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    transition: background 0.3s;
}
body.light {
    background: linear-gradient(to left bottom, #f7be04, #0685da);
}

body.dark {
    background: linear-gradient(to left bottom, #1e1e1e, #3a3a3a);
}

.container {
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    width: 300px;
}

.heading {
    font-size: 26px;
    text-align: center;
}

.input {
    padding: 10px;
    font-size: 16px;
    margin: 5px 0;
}

.btn, .theme-btn {
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.btn {
    background-color: #f7c00b;
}

.theme-btn {
    background-color: #333;
    color: white;
}

.info-text {
    font-size: 18px;
    margin-top: 10px;
}

.height-group {
    display: flex;
    gap: 5px;
}
.small-input {
    width: 127px;
    padding: 8px;
    font-size: 16px;
}